@page "/"
@using System.Drawing
@using KiDemo.Backend
@rendermode InteractiveServer

<PageTitle>Chat</PageTitle>

<div class="chat-container">
	<div class="message-list">
		@foreach (var message in _messages)
		{
			<button
				class="message-item"
				style="background-color: @GetMessageColor(message);"
				@onclick="() => SelectMessage(message.Id)">
				@message.DisplayName
			</button>
		}
	</div>

	<div class="main-area">

		<div class="input-area">
			<input type="text" @bind="_messageTextToSubmit" placeholder="Enter text..."/>

			<button class="btn btn-primary" @onclick="AddItem" disabled="@_isSubmitBtnDisabled">Submit</button>

			<div class="status-info">
				<span>Connected</span>
				<span class="processing-lamp" style="background-color: @(_isConnected ? "green" : "red");"></span>

				<span>Processing</span>
				<span class="processing-lamp" style="background-color: @(_isProcessing ? "red" : "green");"></span>

				<span>Messages: @_messageCount</span>
			</div>

		</div>

		<div class="content-area">
			<div>
				<h3>Input</h3>
				<textarea readonly>@_selectedMessageContent</textarea>
			</div>
			<div>
				<h3>Output</h3>
				<textarea readonly>@_selectedMessageReply</textarea>
			</div>
			<textarea class="metadata-area" readonly>@_selectedMessageMetadata</textarea>
		</div>
		

	</div>
</div>

@inject ChatVm ViewModel

@code {
	private MessageItemVm[] _messages = [];

	private string _messageTextToSubmit = string.Empty;
	private string _selectedMessageContent = string.Empty;
	private string _selectedMessageReply = string.Empty;
	private string _selectedMessageMetadata = string.Empty;

	private bool _isSubmitBtnDisabled;
	private bool _isConnected;
	private bool _isProcessing;
	private int _messageCount;

	protected override void OnInitialized()
	{
		ViewModel.MessageItems.Subscribe(OnMessagesChanged);
		ViewModel.MessageDetails.Subscribe(OnMessageDetails);
		ViewModel.ServiceState.Subscribe(OnServiceState);

		ViewModel.StateHasChanged.Subscribe(_ => InvokeAsync(StateHasChanged));
	}

	private void OnMessagesChanged((MessageItemVm[] messages, int messageCount) item)
	{
		_messages = item.messages;
		_messageCount = item.messageCount;
	}

	private void OnMessageDetails(MessageDetailsVm messageDetails)
	{
		_selectedMessageContent = messageDetails.MessageContent;
		_selectedMessageReply = messageDetails.MessageReply;
		_selectedMessageMetadata = messageDetails.MessageMetadata;
	}

	private void OnServiceState(ServiceStateVm serviceState)
	{
		_isSubmitBtnDisabled = !serviceState.IsSubmitEnabled;

		_isConnected = serviceState.IsConnected;
		_isProcessing = serviceState.IsProcessing;
	}

	private static Color GetMessageColor(MessageItemVm message)
	{
		switch (message.MessageType)
		{
			case MessageType.Request:
				return Color.Yellow;

			case MessageType.Answer:
				return Color.Orange;

			case MessageType.Workflow:
				return Color.Gray;

			default:
				return Color.Black;
		}
	}

	private void AddItem()
	{
		if (!string.IsNullOrWhiteSpace(_messageTextToSubmit))
		{
			ViewModel.SubmitMessage(_messageTextToSubmit);
			_messageTextToSubmit = string.Empty;
		}
	}

	private void SelectMessage(Guid messageId)
	{
		ViewModel.SelectMessage(messageId);
	}
}